    <p class="text-xs-center text-center">Войдите для работы</p>

    <span class="text-xs-center alert-{{message.type}}">
        {{message.text}}
    </span>

    <form [formGroup]="form"
          (ngSubmit)="onSubmitForm()"
        >
        <div class="form-group"
            [ngClass]="{'has-errors': form.get('email').invalid && form.get('email').touched}">
            <label for="email">Email</label>
            <input
                    type="text"
                    class="form-control underlined"
                    id="email"
                    placeholder="Введите ваш email"
                    formControlName="email"
            >
            <span *ngIf="form.get('email').invalid && form.get('email').touched">
                <span *ngIf="form.get('email')['errors']['required']">
                    Поле обязательно для заполнения!
                </span>
                <span *ngIf="form.get('email')['errors']['email']">
                    Поле некорректно заполненно!
                </span>
            </span>
        </div>
        <div class="form-group"
             [ngClass]="{'has-errors': form.get('password').invalid && form.get('password').touched}">
            <label for="password">Пароль</label>
            <input
                    type="password"
                    class="form-control underlined"
                    id="password"
                    placeholder="Пароль"
                    formControlName="password"
            >
            <span *ngIf="form.get('password').invalid && form.get('password').touched">
                <span *ngIf="form.get('password')['errors']['required']">
                    Поле обязательно для заполнения!
                </span>
                <span *ngIf="form.get('password')['errors']['minlength']">
                    Пароль должен состоять минимум из символов {{form.get('password')['errors']['minlength']['requiredLength']}}, введено {{form.get('password')['errors']['minlength']['actualLength']}}.
                </span>
            </span>
        </div>
        <div class="form-group">
            <button type="submit"
                    class="btn btn-block btn-primary"
                    [disabled]="form.invalid"
                >
                Войти
            </button>
        </div>
        <div class="form-group">
            <p class="text-muted text-xs-center">
                Нет аккаунта?
                <a [routerLink]="'/registration'">
                    Зарегистрироваться!
                </a>
            </p>
        </div>
    </form>

