<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <section class="example" style="text-align: center;">
                        <div id="morris-donut-chart">
                            <ngx-charts-pie-chart
                                    [view]="[640, 400]"
                                    [results]="data"
                                    [legend]="false"
                                    [explodeSlices]="false"
                                    [labels]="true"
                                    [doughnut]="true">
                            </ngx-charts-pie-chart>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
