<p class="text-xs-center">Регистрация для получения доступа</p>
<form [formGroup]="form"
      (ngSubmit)="onSubmitForm()">
    <div class="form-group"
         [ngClass]="{'has-errors': form.get('email').invalid && form.get('email').touched}">
        <label for="email">Email</label>
        <input
                type="text"
                class="form-control underlined"
                id="email"
                placeholder="Введите ваш email"
                formControlName="email"
        >
        <span *ngIf="form.get('email').invalid && form.get('email').touched">
                <span *ngIf="form.get('email')['errors']['required']">
                    Поле обязательно для заполнения!
                </span>
                <span *ngIf="form.get('email')['errors']['email']">
                    Поле некорректно заполненно!
                </span>
                <span *ngIf="form.get('email')['errors']['forbiddenEmail']">
                    Пользователь с таким email уже зарегистрирован!
                </span>
        </span>
    </div>
    <div class="form-group"
         [ngClass]="{'has-errors': form.get('password').invalid && form.get('password').touched}">
        <label for="password">Пароль</label>
        <input
                type="password"
                class="form-control underlined"
                id="password"
                placeholder="Введите пароль"
                formControlName="password"
        >
        <span *ngIf="form.get('password').invalid && form.get('password').touched">
                <span *ngIf="form.get('password')['errors']['required']">
                    Поле обязательно для заполнения!
                </span>
                <span *ngIf="form.get('password')['errors']['minlength']">
                    Пароль должен состоять минимум из символов {{form.get('password')['errors']['minlength']['requiredLength']}}, введено {{form.get('password')['errors']['minlength']['actualLength']}}.
                </span>
            </span>
    </div>
    <div class="form-group"
         [ngClass]="{'has-errors': form.get('name').invalid && form.get('name').touched}">
        <label for="name">Имя</label>
        <input
                type="text"
                class="form-control underlined"
                id="name"
                placeholder="Введите имя"
                formControlName="name"
        >
        <span *ngIf="form.get('name').invalid && form.get('name').touched">
                <span *ngIf="form.get('name')['errors']['required']">
                    Поле обязательно для заполнения!
                </span>
        </span>
    </div>
    <div class="form-group">
        <label for="agree">
            <input class="checkbox"
                   id="agree"
                   type="checkbox"
                   formControlName="agree">
            <span>Согласен с правилами</span>
        </label>
    </div>
    <div class="form-group">
        <button type="submit"
                class="btn btn-block btn-primary"
                [disabled]="form.invalid">
            Зарегистрироваться
        </button>
    </div>
    <div class="form-group">
        <p class="text-muted text-xs-center">
            Уже есть аккаунт?
            <a [routerLink]="'/login'">
                Войти!
            </a>
        </p>
    </div>
</form>
