<div class="title-block">
    <h3 class="title">
        Страница истории <span class="sparkline bar"></span>
    </h3>
</div>
<div *ngIf="isLoaded">
    <button class="btn btn-primary"
            style="margin-left: 100px; margin-bottom: 50px;"
            (click)="onFilter()"
        >
        Filter
    </button>
    <app-graph [data]="graphData"></app-graph>
    <app-events [categories]="categories" [events]="events"></app-events>
    <div *ngIf="isFilterVisible">
        <app-filter></app-filter>
    </div>
</div>
<div *ngIf="!isLoaded">
    Loading...
</div>